html,body{
    height: 100%;
}

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.09rem;
}

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    max-width: 1366px;
    margin: 0 auto;
}

h2{
    font-size: 1.45rem;
    margin-bottom: 20px;
}

p{
    line-height: 1.8;
    padding-right: 1em;
    margin-bottom: 25px;
}

/*Menu de navegacion*/

#nav-bar{
    background-color: #0b1245;
}

#navigation{
    display: flex;
    justify-content: space-between;
}

#main-nav{
    display: flex;
    list-style: none;
    font-family: 'Lato', sans-serif;
}

#main-nav li a{
    color: #fff;
    text-decoration: none;
    padding: 25px 0.9em;
    display: inline-block;
}

#main-nav li:last-child{
    color: #ffa600;
    text-decoration: none;
    padding: 25px 0.9em;
}

#main-nav li:hover{
    background-color: #060829;
}

/*Estilos para un boton generico*/
.btn{
    display: block;
    background-color: #ffa600;
    width: 250px;
    padding: 12px 1em;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border: 1px solid #ffa600;
}

.btn:hover{
    background-color: transparent;
    color: #000;
}

.btn-transparent{
    display: block;
    border: 1px solid #ffa600;
    padding: 12px 1em;
    width: 250px;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.btn-transparent:hover{
    background-color: #ffa600;
    color: #fff;
}

/*Pie de pagina*/
footer{
    background-color: #121018;
}

#pie-pagina{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
}

footer h3{
    color: #9f9f9f;
    font-size: 0.90rem;
    text-transform: uppercase;
}

footer ul{
    margin: 20px 0;
}

footer li{
    list-style: none;
    padding: 5px 0; 
}

footer ul li a{
    color: #9f9f9f;
    text-decoration: none;
    font-size: 0.88rem;
}

footer ul li a:hover{
    color: #fff;
    text-decoration: underline;
}

footer a img{
    width: 160px;
}

#social{
    text-align: center;
}

#social .fab{
    color: #fff;
    margin-left: 1em;
    font-size: 1.3rem;
}

#copyright{
    color: #9f9f9f;
    text-align: center;
    font-size: 0.8rem;
    border-top: 1px solid #272323;
    padding: 12px 0;
}